<h1>Search genres!</h1>
<div class="card__container">
  <% @genres.each do |genre| %> 
    <div class="card" id="<%= genre["slug"] %>">
      <h2><%= genre["name"] %></h2>
      <%= image_tag genre["image_background"], class: "card__image"%>
      <%= button_to "Show more", genre_path(genre["slug"]), method: :get, class: "card__btn btn btn--small" %>
    </div>
  <% end %>
</div>
