.users-friend-requests {
  @include padding(null, $su-10 !important, null, $su-10 !important);
  font-size: $fs-3;

  &__nav {
    border-bottom: 1px solid $neutral-100;
  }

  &--active,
  &__nav-link {
    color: $black;

    &:hover {
      color: $black;
      text-decoration: none;
    }
  }

  &--active {
    @include margin(null, null, null, $su-4);
    border-bottom: 2px solid $teal-400;
  }

  &__request-container {
    @include padding($su-4, null, $su-4, null);
    border-bottom: 2px solid $teal-400;
  }
}
