body.games.show {
  background-size: 100% auto !important; 
  background-color: rgba(255,255,255,0.7) !important;
  background-blend-mode: lighten !important;
}
.games.show {

  .nav-link {
    color: #000 !important;
    &:hover {
      color: $red !important;
    }
  }

  .game {
    
    &__details {
      color: #000;
      font-size: 1.8rem;
    }

    &__screenshot {
      margin: 1rem .5rem;
      width: 45%;
    }
  }
}