///////////////////////////////////////////////////////
//! HERO SECTION
.hero {
  background: url("mario") no-repeat center center;
  background-size: cover;

  &__heading {
    letter-spacing: -1.2rem;
  }

  &__text {
    text-shadow: 0 1rem 2rem rgba(0,0,0,1);
  }
}

// .home.index {
//   //? RIGHT SIDE
//   div[class*="game-"] {
//     width: 50%;
//     transition: all .2 ease;

//     &:hover {
//       z-index: 10;
//     }
//     & .btn.btn--yellow {
//       opacity: 0;
//       transition: all .2s ease-out;
//       width: 25%;
//     }
//     &:hover .btn.btn--yellow {
//       opacity: 1;
//       width: 100%;
//     }
//   }
//   .game-0 {
//     &:hover {
//       transform: scale(1.1) translateY(-5%);
//     }
//   }
//   .game-1 {
//     position: absolute;
//     right: 0;
//     top: 0;
//     &:hover {
//       transform: scale(1.1) translateY(-5%);
//     }
//   }
//   .game-2 {
//     transform: translate(50%, -20%);
//     &:hover {
//      transform: scale(1.1) translate(45%, -25%);
//     }
//   }

//   //? LEFT SIDE

//   .app-info {

//     &__list {
//       font-size: 1.4rem;
//       list-style: none;
//       margin-top: 2rem;
//     }

//     &__list-item {
//       align-items: center;
//       display: flex;
//       margin-bottom: 1rem;
//     }

//     &__icon {
//       font-size: 2rem;
//       margin-right: 2.5rem;

//       &:not(:first-child) {
//         margin-right: 2rem !important;
//       }
//     }
//   }

// }
