---
http_interactions:
- request:
    method: get
    uri: http://api.rawg.io/api/games/portal-2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://api.rawg.io/api/games/portal-2
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 12 Jun 2020 00:24:18 GMT
- request:
    method: get
    uri: https://api.rawg.io/api/games/portal-2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, PATCH, HEAD, OPTIONS
      Path:
      - api-game-detail
      Content-Language:
      - en
      X-Server:
      - api_rawg_io
    body:
      encoding: UTF-8
      string: '{"id":4200,"slug":"portal-2","name":"Portal 2","name_original":"Portal
        2","description":"<p>Portal 2 is a first-person puzzle game developed by Valve
        Corporation and released on April 19, 2011 on Steam, PS3 and Xbox 360. It
        was published by Valve Corporation in digital form and by Electronic Arts
        in physical form. </p>\n<p>Its plot directly follows the first game&#39;s,
        taking place in the Half-Life universe. You play as Chell, a test subject
        in a research facility formerly ran by the company Aperture Science, but taken
        over by an evi[...]
[...]
