---
http_interactions:
- request:
    method: get
    uri: http://api.rawg.io/api/games?search=randomunsuccessfulquery
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://api.rawg.io/api/games?search=randomunsuccessfulquery
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 29 Jun 2020 17:08:36 GMT
- request:
    method: get
    uri: https://api.rawg.io/api/games?search=randomunsuccessfulquery
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Path:
      - api-game-list
      Content-Language:
      - en
      X-Server:
      - api_rawg_io
    body:
      encoding: UTF-8
      string: '{"count":0,"next":null,"previous":null,"results":[],"user_platforms":false}'
  recorded_at: Mon, 29 Jun 2020 17:08:36 GMT
recorded_with: VCR 5.0.0
