---
http_interactions:
- request:
    method: get
    uri: http://api.rawg.io/api/genres/action
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://api.rawg.io/api/genres/action
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 08 Jun 2020 00:52:03 GMT
- request:
    method: get
    uri: https://api.rawg.io/api/genres/action
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Path:
      - api-genre-detail
      Content-Language:
      - en
      X-Server:
      - api_rawg_io
    body:
      encoding: UTF-8
      string: '{"id":4,"name":"Action","slug":"action","games_count":87823,"image_background":"https://media.rawg.io/media/games/b7b/b7b8381707152afc7d91f5d95de70e39.jpg","description":"<p>The
        action game is a genre that includes fights, puzzles, and strategies emphasizing
        coordination and reaction. It includes a large variety of sub-genres like
        fighting, beat &#39;em ups, shooters, survivals, mazes, and platforms; sometimes
        even multiplayer online battles and real-time strategies. Usually, the player
        performs as the protagonist with its unique abilities; some games add power-ups
        along the way. The character aims to complete levels, collect items, avoid
        obstacles, and battle against antagonists. It&#39;s necessary to avoid severe
        injuries during fights; if the health bar goes low, the player loses. Some
        games have an unbeatable number of enemies, and the only goal is to maximize
        score and survive for as long as possible. There might be a boss enemy who
        appears at the last level; he has unique abilities and a longer health bar.
        Pong is one of the first action games, released in 1972; the latest include
        Battlefield, Assasin&#39;s Creed, Fortnite and Dark Souls.</p>"}'
  recorded_at: Mon, 08 Jun 2020 00:52:03 GMT
recorded_with: VCR 5.0.0
