---
http_interactions:
- request:
    method: get
    uri: http://api.rawg.io/api/platforms/pc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://api.rawg.io/api/platforms/pc
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 12 Jun 2020 03:08:36 GMT
- request:
    method: get
    uri: https://api.rawg.io/api/platforms/pc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Path:
      - api-platform-detail
      Content-Language:
      - en
      X-Server:
      - api_rawg_io
    body:
      encoding: UTF-8
      string: '{"id":4,"name":"PC","slug":"pc","games_count":229183,"image_background":"https://media.rawg.io/media/games/b7d/b7d3f1715fa8381a4e780173a197a615.jpg","description":"<p>PC
        games, or personal computer games, started with the video game crash of 1983.
        PC games became popular after the development of the microprocessor and microcomputer.
        Some of the first PC games were Bertie the Brain, OXO and Spacewar!<br />\nAs
        the 3D graphics accelerators became faster and CPU power improved, PC games
        became more realistic and more accessible to produce. The PC market sales
        rocketed in the 80s when IBM computers and sound cards were generated. The
        platform involves different peripherals, gaming hardware, and software. These
        are mouse and keyboard; gamepads and motion controllers aren&#39;t obligatory,
        but still popularly accepted. Better hardware improves the game&#39;s accuracy;
        it usually lets the players use more NPCs than equivalents on other platforms.
        With the platform, the players can perform every sort of game. For example,
        shooters are easy to play due to the mouse controllers. However, the main
        reason for the PC games popularity is their lower prices and the backward
        compatibility with older titles, which leaves much to be desired on cosoles.</p>","image":null,"year_start":null,"year_end":null}'
  recorded_at: Fri, 12 Jun 2020 03:08:36 GMT
recorded_with: VCR 5.0.0
