---
http_interactions:
- request:
    method: get
    uri: http://api.rawg.io/api/games/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://api.rawg.io/api/games/1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 12 Jun 2020 03:07:23 GMT
- request:
    method: get
    uri: https://api.rawg.io/api/games/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, PATCH, HEAD, OPTIONS
      Path:
      - api-game-detail
      Content-Language:
      - en
      X-Server:
      - api_rawg_io
    body:
      encoding: UTF-8
      string: '{"id":1,"slug":"dgeneration-hd","name":"D/Generation HD","name_original":"D/Generation
        HD","description":"The year is 2021, and Genoq has become a leading corporation
        in bio-medical research. However the tower, some 90 stories high, is not all
        that it seems. Somewhere within the tower, highly illegal bio-weapons research
        has been conducted in secret. June 26th, disaster strikes and the lethal organic
        weapons have escaped and threaten not only the staff members stranded in the
        tower, but the world itself. <br/><br/>You arrive on the 80th floor with an
        urgent package addressed to Derrida, the lead scientist at Genoq working on
        the bio-weapons research. Set back from your goal, you must climb the tower,
        assisting those in need or focusing solely on your task at hand, and stopping
        the virus from escaping the tower and threatening all life on the planet.<br/><br/>Will
        you help the stranded survivors or hinder them? Can you deliver the package
        to Derrida in time? Can you prevent the impending catastrophe and escape with
        your life?<br/><br/>Key Features<br/><ul><li> New high res graphics<br/></li><li>
        New music by Mark ''TDK'' Knight<br/></li><li> New control menu<br/></li><li>
        Can save at any point in the game<br/></li><li> Leaderboards<br/></li><li>
        Achievements<br/></li><li> Same great gameplay</li></ul>","metacritic":null,"metacritic_platforms":[],"released":"2015-10-23","tba":false,"updated":"2019-09-17T11:58:57","background_image":"https://media.rawg.io/media/screenshots/5c4/5c41cb3b0d15ef0974f930898cedbc6c.jpg","background_image_additional":"https://media.rawg.io/media/screenshots/8bd/8bd3afed5e0bb62ea03899f9807d1b38.jpg","website":"http://dgeneration.net","rating":0.0,"rating_top":0,"ratings":[{"id":1,"title":"skip","count":2,"percent":66.67},{"id":5,"title":"exceptional","count":1,"percent":33.33}],"reactions":{"13":2},"added":87,"added_by_status":{"yet":3,"owned":81,"beaten":2,"toplay":1},"playtime":1,"screenshots_count":28,"movies_count":0,"creators_count":0,"achievements_count":80,"parent_achievements_count":49,"reddit_url":"","reddit_name":"","reddit_description":"","reddit_logo":"","reddit_count":0,"twitch_count":11,"youtube_count":1000000,"reviews_text_count":2,"ratings_count":1,"suggestions_count":288,"alternative_names":[],"metacritic_url":"","parents_count":0,"additions_count":0,"game_series_count":0,"user_game":null,"reviews_count":3,"community_rating":0,"saturated_color":"0f0f0f","dominant_color":"0f0f0f","parent_platforms":[{"platform":{"id":1,"name":"PC","slug":"pc"}},{"platform":{"id":2,"name":"PlayStation","slug":"playstation"}},{"platform":{"id":3,"name":"Xbox","slug":"xbox"}},{"platform":{"id":5,"name":"Apple
        Macintosh","slug":"mac"}},{"platform":{"id":7,"name":"Nintendo","slug":"nintendo"}}],"platforms":[{"platform":{"id":4,"name":"PC","slug":"pc","image":null,"year_end":null,"year_start":null,"games_count":229085,"image_background":"https://media.rawg.io/media/games/c4b/c4b0cab189e73432de3a250d8cf1c84e.jpg"},"released_at":"2015-10-23","requirements":{"minimum":"<strong>Minimum:</strong><br><ul
        class=\"bb_ul\"><li><strong>Memory:</strong> 4 GB RAM<br></li><li><strong>DirectX:</strong>
        Version 11</li></ul>","recommended":"<strong>Recommended:</strong><br><ul
        class=\"bb_ul\"><li><strong>Memory:</strong> 8 GB RAM<br></li><li><strong>DirectX:</strong>
        Version 11</li></ul>"}},{"platform":{"id":5,"name":"macOS","slug":"macos","image":null,"year_end":null,"year_start":null,"games_count":52802,"image_background":"https://media.rawg.io/media/games/ee3/ee3e10193aafc3230ba1cae426967d10.jpg"},"released_at":"2015-10-23","requirements":{"minimum":"<strong>Minimum:</strong><br><ul
        class=\"bb_ul\"><li><[...]
