.heading {
  font-weight: 800;

  &--massive {
    font-size: 20rem;
  }

  &--jumbo {
    font-size: 10rem;
  }


  &--large {
    font-size: 5.5rem;
  }
}

.color {

  &--green {
    color: $green;
  }

  &--yellow {
    color: $yellow;
  }

  &--red {
    color: $red;
  }

  &--blue {
    color: $blue;
  }
  
  &--logo-left {
    color: $logo-left;
  }

  &--logo-right {
    color: $logo-right;
  }
}