//* SPACING
.mt-10 { margin-top: 6rem !important; }

//* HEIGHT
.vh-10 { height: 10vh !important; }
.vh-90 { height: 90vh !important; }

//* MISC
.u-horz-flip {
  display: inline-block;
  transform: scale(-1, 1);
}

//* COLORS
.bg {
  &--yellow {
    background-color: $yellow;
  }
  &--blue {
    background-color: $blue;
  }
  &--green {
    background-color: $green;
  }
  &--red {
    background-color: $red;
  }
}