//* SPACING
.mt-10 { margin-top: 6rem !important; }

//* HEIGHT
.vh-10 { height: 10vh !important; }
.vh-90 { height: 90vh !important; }

//* MISC
.u-horz-flip {
  display: inline-block;
  transform: scale(-1, 1);
}

.u-remove-list-style {
  list-style: none;
}

.u-border-bottom {
  border-bottom: 1px solid $neutral-100;
}

//* COLORS
.bg {
  &--yellow {
    background-color: $yellow-300;
  }
  &--blue {
    background-color: $blue-300;
  }
  &--teal {
    background-color: $teal-300;
  }
  &--red {
    background-color: $red-300;
  }
}
