<section class="hero container-fluid vh-90">
  <div class="container text-right">
    <h1 class="heading heading--massive hero__heading text--logo-left">G<span class="text--logo-right u-horz-flip">G</span></h1>
    <h2 class="heading heading--large hero__text text-white">
      <span class="text--logo-left">G</span>ood<span class="text--logo-right">G</span>ames
    </h2>
    <h2 class="hero__text text-white">All the games you <span class="text--red">love</span> in one place</h2>
    <div class="btn__wrapper mt-5">
      <%= link_to "Build your library", games_path, class: "btn btn--teal mr-3" %>
      <% if user_signed_in? %>
        <%= link_to "My games", user_library_path(current_user), class: "btn btn--blue" %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path, class: "btn btn--blue" %>
      <% end %>
    </div>
  </div>
</section>
