<div class="d-flex flex-column justify-content-center align-items-baseline h-100">
  <h1 class="heading heading--jumbo heading--yellow">Goodgames</h1>
  <h2 class="heading heading--large heading--green w-100">Find all the games <br />you love</h2>
</div>