<% content_for(:title, games_search_title(params[:query])) %>

<div class="container mt-5">
  <h2 class="text-center heading heading--large">
    <u class="text--teal">Gather your Games!</u>
  </h2>

  <div class="d-flex justify-content-center mt-5 mb-4">
    <%= render 'search', id: "game-search", margin: "auto" %>
  </div>

  <%= render 'games', games: @games %>
</div>
