.game-comparisons {
  font-size: $fs-3;

  &__link {
    color: $teal-300;

    &:hover {
      color: $teal-300;
    }
  }

  &__my-circle,
  &__their-circle {
    border-radius: 50%;
    max-height: 100px;
    max-width: 100px;
    opacity: .7;
  }

  &__their-circle {
    background-color: $yellow-300;
  }

  &__my-circle {
    background-color: $teal-300;
  }

  span[class^="game-comparisons__bullet"] {
    display: inline-block;
    height: .8rem;
    width: .8rem;
  }

  &__bullet--their {
    background-color: $yellow-300;
  }

  &__bullet--same {
    background-color: hsl(154,39%,53%);
  }

  &__bullet--mine {
    background-color: $teal-300;
  }

  &__games-in-common {
    margin-top: 4rem;
  }

  thead tr {
    border-bottom: 2px solid $blue-400;
    font-weight: bold;
  }

  td {
    @include padding($su-2, $su-2, $su-2, $su-2);
  }

  tbody tr {
    border-bottom: 1px solid $neutral-200;
  }

  &__game-image {
    max-width: 3rem;
    width: 100%;
  }
}
