<% if model.errors.any? %>
  <div class="error__container">
    <div class="error__count-container">
      <p class="m-0">
        <%= pluralize(model.errors.count, "error") %> prohibited
        this message from being saved.
      </p>
    </div>

    <div class="error__message-container">
      <ul class="error__list">
        <% model.errors.full_messages.each do |message| %>
          <li class="error__message">
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
