<% content_for(:title, "Page not found") %>

<div class="error error__background">
  <div class="error__text-container">
    <h2 class="error__headline">
      Game over! Looks like the page you requested still hasn't been unlocked.
    </h2>
    <a href="/" class="error__button button button--blue mt-5">
      Back to the GoodGames hompage
    </a>
  </div>
</div>
