.btn {
  padding: 1rem 2rem !important;

  &--teal {
    background-color: $teal-300 !important;
    color: $white !important;
    &:hover {
      background-color: darken($teal-300, 5%) !important;
      box-shadow: 0 .5rem .4rem rgba(0,0,0,0.4);
      transform: translateY(-5px) !important;
    }
    &:active {
      box-shadow: 0 .5rem .4rem rgba(0,0,0,0.4);
      transform: translateY(-2px) !important;
    }
  }

  &--yellow {
    background-color: $yellow-300 !important;
    color: $white !important;
     &:hover {
      background-color: darken($yellow-300, 5%) !important;
      box-shadow: 0 .5rem .4rem rgba(0,0,0,0.4);
      transform: translateY(-5px) !important;
    }
    &:active {
      box-shadow: 0 .5rem .5rem rgba(0,0,0,0.4);
      transform: translateY(-2px) !important;
    }
  }

  &--red {
    background-color: $red-300 !important;
    color: $white !important;
     &:hover {
      background-color: darken($red-300, 5%) !important;
      box-shadow: 0 .5rem .4rem rgba(0,0,0,0.4);
      transform: translateY(-5px) !important;
    }
    &:active {
      box-shadow: 0 .5rem .5rem rgba(0,0,0,0.4);
      transform: scale(1.1) translateY(-2px) !important;
    }
  }

  &--blue {
    background-color: $blue-300 !important; 
    color: $white !important;
     &:hover {
      background-color: darken($blue-300, 5%) !important;
      box-shadow: 0 .5rem .4rem rgba(0,0,0,0.4);
      transform: translateY(-5px) !important;
    }
    &:active {
      box-shadow: 0 .5rem .5rem rgba(0,0,0,0.4);
      transform: translateY(-2px) !important;
    }
  }

  &--yellow,
  &--teal,
  &--blue,
  &--red {
    font-size: 1.4rem !important;
  }
}
