.card {
  border: none !important;
  border-bottom: 4px solid $yellow-300 !important;
  border-radius: 0 !important;
  box-shadow: 0 .3rem .5rem rgba(0,0,0,0.5);
  transition: all .2s;

  @media only screen and (min-width: 700px) {
    &:hover {
      border-bottom: 4px solid $blue-300 !important;
      box-shadow: 0 1rem 2rem rgba(0,0,0,0.5);
      transform: scale(1.1);
      z-index: 10;
    }
  }

  &:hover &__info {
    display: none;
  }

  &:hover &__button-wrapper {
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
  }

  &-img-top[poster] {
    object-fit: cover;
    object-position: top;
  }

  &__heading {
    &:focus {
      outline: none;
    }
    &:hover {
      color: $red-300;
    }
  }

  &__info {
    font-size: 1.3rem;
  }

  &__icon {
    color: $blue-300;
    font-size: 2rem;
  }

  &__button-wrapper {
    display: none;
  }
}
