.comment {
  font-size: 1.4rem;

  &__box {
    background-color: $white;
    border-top: 8px solid $blue-300;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0.2rem 0.2rem rgba(0,0,0,.3);
    margin: 3rem 0;
    padding: 1rem;
    transition: transform .2s;

    &:hover {
      box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
      transform: scale(1.1) translateY(-1rem);
    }
  }

  &__box:hover &__profile {
    right: 0;
    opacity: 1;
  }

  &__box:hover &__user {
    display: none;
  }

  &__title {
    font-size: 3rem;
    font-weight: 600;
  }

  &__user {
    color: $teal-300;
    font-size: 1.8rem;
  }

  &__profile {
    @include margin($su-2, null, null, null);
    color: $teal-300;
    opacity: 0;
    position: absolute;
    right: 30%;
    transition: all .5s;

    &:hover {
      color: $yellow-300;
    }
  }

  &__edit,
  &__edit:hover {
    color: $blue-300;
  }

  &__delete,
  &__delete:hover {
    color: $red-300;
  }
}
