.users-friendships {
  @include padding(null, $su-5 !important, null, $su-5 !important);
  font-size: $fs-2;

  &__nav {
    align-items: baseline;
    border-bottom: 1px solid $neutral-100;
    display: flex;
  }

  &--active,
  &__nav-link {
    color: $black;

    &:hover {
      color: $black;
      text-decoration: none;
    }
  }

  &--active {
    border-bottom: 2px solid $teal-400;
  }

  &__nav-link {
    @include margin(null, null, null, $su-4);
  }

  &__friends-container {
    @include padding($su-4, null, $su-4, null);
  }

  &__search-container {
    @include padding(null, $su-5, null, $su-5);
  }

  &__search-container form {
    display: flex;
  }

  &__search-box {
    @include padding(null, $su-2, null, $su-2);
    border: 1px solid $neutral-200;
    border-radius: .3rem;
    flex: 1;

    &:focus {
      border: 1px solid $neutral-400;
      outline: none;
    }
  }

  &__friends-list-container {
    @include padding($su-2, $su-2, $su-2, $su-2);
    border-bottom: 1px solid $neutral-200;
    border-top: 1px solid $neutral-200;
    display: flex;

    &:not(:last-child) {
      @include margin(null, null, $su-3, null);
    }
  }

  &__friends-list-container a {
    color: $teal-300;

    &:hover {
      color: $teal-300;
    }
  }

  &__friends-list-container &__friends-name {
    color: $teal-400;

    display: block;
    &:hover {
      color: $teal-400;
    }
  }

  &__friends-pagination {
    border-bottom: 1px solid $neutral-200;
    display: flex;
    justify-content: space-between;

    .pagination {
      @include padding(0, null, 0, null);
      font-size: $fs-2;
    }
  }

  &__friends-list {
    list-style: none;
  }

  &__friend-info {
    width: 15rem;
  }

  &__friends-image {
    @include margin(null, $su-2, null, null);
    height: 6.5rem;
    object-fit: cover;
    width: 5rem;
  }

  &__separator {
    @include margin(null, -.5rem, null, -.5rem);
    color: $neutral-200;
  }

  &__placeholder,
  &__game {
    max-width: 20.5rem;
    width: 100%;
  }
}
